@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

article{
	background-color: #C2C6D0;
	width: 100%;
	z-index: 2;
	margin: 0;
	padding: 0;
}

article .inner{
	padding-left: 3vw;
	padding-top: 3%;
	padding-bottom: 15vh;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

article h3{
	font-family: 'PT Sans Caption', sans-serif;
	color: #3F5487;
	font-size: 3em;
}

article h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: black;
	font-size: 1.1em;
	line-height: 2em;
}

.frame{
	flex-basis: 0;
	flex-grow: 3;
	background-image: url("../images/compressed/up.png");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.txt_frame{
	flex-basis: 0;
	flex-grow: 2;
	padding: 7vw;
	padding-top: 0;
	padding-bottom: 0;
}

.blur_element{
	position: absolute;
	bottom: 0;
	--margin-top: 10vh;
	width: 100%;
	background: linear-gradient(rgba(194, 198, 208, 0), rgba(194, 198, 208, 1));
	z-index: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.blur_element span{
	font-family: 'PT Sans Caption', sans-serif;
	color: 	#ffa700;
	font-size: 3em;
	padding: 4vh;
	text-shadow: 2px 2px 5px black;
}

.blur_element i{
	position: relative;
	font-size: 3em;
	color: black;
	animation: 3s ease infinite updown;
	padding: 5vh;
	text-shadow: 0px 0px 7px #ffa700;
}

.blur_element h2{
	padding: 3vh;
	padding-top: 0;
	font-family: 'Play', sans-serif;
}

.wrapper{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

@keyframes updown{
	0% {top: 0;}
	50% {top: 4vh;}
	100% {top: 0;}
}

@media screen and (max-width: 900px), (max-device-width: 900px){
	article .inner{
		flex-direction: column;
	}
	
	.frame{
		flex-basis: auto;
		height: 60vh;
	}
	
	.blur_element span{
		font-size: 1.7em;
		text-align: center;
		padding: 1vh;
		padding-bottom: 0;
	}
	
	.blur_element h2{
		font-size: 1.1em;
		text-align: center;
		padding: 1vh;
	}
	
	article .inner{
		padding-bottom: 4vh;
	}
}

@media screen and (max-width: 1200px), (max-device-width: 1200px){
	article .inner{
		padding-left: 0;
	}
	
	article .txt_frame{
		padding-left: 4vw;
		padding-right: 4vw;
		flex-grow: 3;
	}
}