@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


article{
	background-color: #C2C6D0;
	text-align: center;
	padding: 3vh;
	padding-left: 3vw;
	padding-right: 3vw;
}

h3{
	font-family: 'PT Sans Caption', sans-serif;
	color: #3F5487;
	font-size: 3em;
	margin: 0;
	padding-top: 3vh;
	padding-bottom: 3vh;
}

h2{
	font-family: 'Play', sans-serif;
	font-size: 1.7em;
	padding-top: 3vh;
}

h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: black;
	font-size: 1.1em;
	line-height: 1.9em;
}


.block_area{
	--columns: 25vw auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.srupbl{
	background-image: url("../images/compressed/services_img.png");
	background-position: center 80%;
	background-size: cover;
	width: 100%;
	text-align: center;
}

.box{
	text-align: center;
	width: 20vw;
	font-family: 'Vollkorn', serif;
	font-size: 1.5em;
	padding: 3vw;
	transition: all 0.5s;
}

.box h4{
	margin-top: 1vh;
	line-height: 1.3em;
}

.img_frame{
	background-position: center;
	background-size: cover;
	width: 20vw;
	height: 20vw;
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
}

.one{
	background-image: url("../images/compressed/pump.png");
}

.two{
	background-image: url("../images/compressed/injectors.png");
}

.three{
	background-image: url("../images/compressed/fuel.png");
}

.four{
	background-image: url("../images/compressed/filter.png");
}

.five{
	background-image: url("../images/compressed/eng.jpg");
}

.six{
	background-image: url("../images/compressed/pcd.png");
}

.img_frame::before{
	position: relative;
	content: "";
	background-color: #3F5487;
	width: 100%;
	height: 100%;
	top: -10%;
	left: -13%;
	z-index: -1;
	display: inline-block;
}

.img_frame::after{
	position: relative;
	content: "";
	background-color: rgba(194, 198, 208, 0);
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	z-index: 5;
	display: block;
	transition: all 0.5s;
}

a:hover .img_frame::after{
	background-color: rgba(194, 198, 208, 0.7);
}

a:hover .box h4{
	color: rgba(0, 0, 0, 0.5);
}

a{
	text-decoration: none;
	color: black;
	z-index: 3;
}

.box::before{
	content: "Подробнее";
	font-size: 1.3em;
	color: #3F5487;
	position: relative;
	top: 0;
	font-family: 'Russo One', sans-serif;
	z-index: 7;
	opacity: 0;
	transition: all 0.5s ease;
}

a:hover .box::before{
	top: 11vw;
	opacity: 1;
}

.description_area{
	background-color: #DFE1E8;
	padding: 3vw;
	padding-left: 20vw;
	padding-right: 20vw;
	margin: 0;
}

.description_area > h4{
	padding-left: 10vw;
	padding-right: 10vw;
}

.description_area > h3{
	text-align: center;
}

.head1{
	padding-top: 20vh; 
	text-shadow: 2px 2px 5px #6D7179; 
	background: rgba(194, 198, 208, 0.65);
}

.head2{
	font-size: 1.3em; 
	padding-top: 0; 
	color: black; 
	padding-bottom: 20vh; 
	text-shadow: 2px 2px 5px #6D7179; 
	background: rgba(194, 198, 208, 0.65);
}

#arrow{
	width: 80px;
	height: 80px;
	position: fixed;
	z-index: 9;
	bottom: 50px;
	right: 30px;
	transition: all 1s;
}

.hidden{
	transform: translateY(150%);
	opacity: 0;
	visibility: hidden;
}

.show{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

article > h3{
	font-size: 2em; 
	font-weight: bold; 
	display: none;
}

@media screen and (max-width: 900px), (max-device-width: 900px){
	.head1{
		font-size: 2.5em;
	}
	
	.head2{
		font-size: 1.1em;
	}
	
	h3{
		font-size: 1.7em;
	}
	
	.description_area h3{
		padding-bottom: 0.5vh;
	}
	
	.description_area h4{
		padding: 0;
		font-size: 1em;
		letter-spacing: 0.2px;
		line-height: 27px;
	}
	
	.description_area{
		padding-left: 0.5vw;
		padding-right: 0.5vw;
	}
	
	.img_frame{
		width: 40vw;
		height: 40vw;
	}
	
	article .box h4{
		font-size: 0.9em;
	}
	
	.box{
		width: 40vw;
		padding: 3vh;
	}
	
	a:hover .box::before{
		top: 22vw;
	}
	
	article > h3{
		display: block;
	}
}

@media screen and (max-width: 1200px), (max-device-width: 1200px){
	.description_area{
		padding-left: 5vw;
		padding-right: 5vw;
	}
}

@media screen and (max-width: 500px), (max-device-width: 500px){
	.img_frame{
		width: 60vw;
		height: 60vw;
	}
	
	.box{
		width: 60vw;
	}
	
	a:hover .box::before{
		top: 33vw;
	}
}