@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

html {
	scroll-behavior: smooth;
}

body{
	margin: 0;
	background-color: #C2C6D0;
	overflow-x: hidden;
}

.preloader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(35, 50, 79, 1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.preloader img{
	animation: rotation_pre 3s infinite ease;
	width: 15vw;
	height: 15vw;
}

.loaded_hiding .preloader {
  transition: 1s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

header{
	width: 100%;
	text-transform: uppercase;
	background-color: #C2C6D0;
	padding-top: 3vw;
	padding-bottom: 0.1vw;
	z-index: 1000;
}

header ul{
	list-style-type: none;
	background-color: #6D7179;
	padding-left: 3vw;
	padding-right: 3vw;
}

#sticky_text{
	color: black;
}

header h2{
	display: inline-block;
	font-family: 'Russo One', sans-serif;
	padding: 5px;
	margin: 0;
	position: absolute;
	right: 9vw;
	transform: translateX(200%);
	transition: transform 1s cubic-bezier(.55,-0.66,.26,1.57);
}

header li{
	display: inline-block;
	padding: 10px;
	margin-right: 20px;
	background-color: #6D7179;
}

header li:hover{
	background-color: #8D93A1;
	transition: all 0.5s;
}

header a{
	text-decoration: none;
	color: white;
	font-family: 'Rubik', sans-serif;
}

header .menubutton, #openedmenu{
	background-color: #6D7179;
	padding-bottom: 10px;
	padding-top: 10px;
	color: white;
	font-family: 'Rubik', sans-serif;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 1.3em;
	display: flex;
	align-items: center;
	display: none;
	opacity: 0;
}

header #menubutton i, #openedmenu i{
	position: absolute;
	right: 0;
	padding-right: 20px;
	font-size: 1.3em;
}

header > h1{
	font-family: 'Russo One', sans-serif;
	font-size: 4em;
	padding-left: 3vw;
	padding-bottom: 1vw;
	margin: 0;
}

footer{
	background-color: #94969C;
	width: 100%;
	padding-top: 2vw;
	padding-bottom: 1vw;
	text-align: center;
}

footer h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: black;
	font-size: 1.1em;
}

footer i{
	color: black;
	font-size: 2em;
	padding-right: 1vw;
}

footer a{
	text-decoration: none;
}

footer h4 a{
	color: black;
}

.vb, .tg{
	color: black;
	transition: all 0.5s;
}

.vb:hover, .tg:hover{
	transform: scale(1.2);
	color: rgba(var(--color), 1);
	text-shadow: 5px 5px 2px rgba(109, 113, 121, 0.5);
}

.vb{--color: 102, 92, 172;}
.tg{--color: 0, 136, 204;}

#addwin{
	opacity: 0;
	z-index: 2002;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: auto;
	display: block;
	background-color: #3F5487;
	transform: translateY(-100%);
	transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.4s ease;
}

#addwin.hider{
	opacity: 1;
	transform: translateY(0%);
}

#openedmenu{
	background-color: #3F5487;
	display: block;
	opacity: 1;
}

.visible{
	display: block;
	opacity: 1;
}

.undline{
	width: 100%;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 3px;
	background-color: white;
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 3vw;
	transition: padding 0.3s ease;
	z-index: 100;
	font-size: 1.1em;
}

.menubutton.msticky{
	position: fixed;
	top: 0;
	margin: 0;
	padding-top: 5%;
	padding-bottom: 5%;
	z-index: 1900;
	transition: padding 0.3s ease;
}

.sticky#headlist h2{
	display: inline-block;
	transform: translateX(0);
}

.empty{
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1800;
}

@keyframes menu_appear{
	0%{opacity: 0; transform: translateY(-30%);}
	50%{opacity: 0.6; transform: translateY(0%);}
	100%{opacity: 1; transform: translateY(0%);}
}

@keyframes rotation_pre{
	0%{transform: rotateY(0deg);}
	50%{transform: rotateY(180deg);}
	100%{transform: rotateY(360deg);}
}

@media screen and (max-width: 900px), (max-device-width: 900px){
	footer{
		padding-top: 3vh;
	}
	
	footer i{
		font-size: 1.9em;
		padding-right: 5vw;
		text-shadow: 2px 2px 2px rgba(109, 113, 121, 0.5);
	}
	
	.vb, .tg{
		color: rgba(var(--color), 1);
	}
	
	footer h4{
		font-size: 1em;
	}
	
	header h1{
		letter-spacing: 5px;
	}
	
	.preloader img{
		width: 15vh;
		height: 15vh;
	}
	
	header ul{
		text-align: center;
		background-color: #3F5487;
		padding-left: 0;
		padding-top: 4%;
		display: none;
		opacity: 0;
	}

	#sticky_text{
		display: none;
	}

	header li:hover{
		background-color: #3F5487;
	}

	header li{
		background-color: #3F5487;
		margin-right: 0;
	}

	header ul a{
		text-align: center;
		color: white;
		background-color: #3F5487;
		display: block;
		padding: 0;
		width: 100%;
		margin: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 1.2em;
		opacity: 0;
		animation-name: menu_appear;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
	}
	
	header ul a:nth-child(1){
		animation-delay: 0.4s;
	}

	header ul a:nth-child(2){
		animation-delay: 0.5s;
	}

	header ul a:nth-child(3){
		animation-delay: 0.6s;
	}

	header ul a:nth-child(4){
		animation-delay: 0.7s;
	}

	/*header ul a:nth-child(5){
		animation-delay: 0.8s;
	}*/

	header #menubutton{
		display: inline-block;
		opacity: 1;
	}
}